p {
  margin: 0;
  width: fit-content;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
button {
  cursor: pointer;
  border-radius: 4px;
  background-color: blue;
  color: aliceblue;
}
.form {
  display: flex;
  justify-content: center; 
  margin-top: 24px;
  margin-bottom: 24px;
}
input {
  margin-right: 8px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.gallery-link {
  flex-basis: calc((100% - 36px) / 5);
  color: currentColor;
  text-decoration: none;
}
.gallery-img {
  width: 400px;
}

img{
  display: block;
  width: 100%;
  height: auto;
}